body {
  margin: 0;
  padding: 0;
  background-color: #ffe6ea;
  font-family: "Kalam", cursive;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 900px;
  height: 500px;
  background-color: #ffe6ea;
  border-radius: 12px;
  margin: 60px auto;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.left, .right {
  flex: 1;
  text-align: center;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 80px;
}

.name h2 {
  font-family: "Just Another Hand", cursive;
  font-size: 56px;
  color: #5E0124;
}

.name img {
  width: 70px;
}

.left h3 {
  margin-top: 10px;
  font-size: 20px;
  font-style: italic;
  color: #000;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-icon {
  width: 120px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 260px;
  align-items: center;
}

.input-group {
  display: flex;
  align-items: center;
  background-color: #f9b4c7;
  border-radius: 25px;
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
}

.input-group svg {
  color: #fff;
  margin-right: 8px;
}

.input-group input {
  border: none;
  outline: none;
  background: transparent;
  flex: 1;
  color: #fff;
  font-size: 14px;
}

button {
  border: none;
  background-color: #ff4d79;
  color: white;
  border-radius: 8px;
  padding: 10px 25px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #ff1e56;
}
